$brand-blue-line: #003da5;
$brand-bus: #ffc72c;
$brand-commuter-rail: #80276c;
$brand-ferry: #008eaa;
$brand-green-line: #00843d;
$brand-orange-line: #ed8b00;
$brand-red-line: #da291c;
$brand-subway: #7c878e;
$brand-the-ride: #52bbc5;

.background-blue-line {
  background-color: $brand-blue-line;
  border: 0.3rem solid $brand-blue-line;
}
.background-bus {
  background-color: $brand-bus;
  border: 0.3rem solid $brand-bus;
}
.background-commuter-rail {
  background-color: $brand-commuter-rail;
  border: 0.3rem solid $brand-commuter-rail;
}
.background-ferry {
  background-color: $brand-ferry;
  border: 0.3rem solid $brand-ferry;
}
.background-green-line {
  background-color: $brand-green-line;
  border: 0.3rem solid $brand-green-line;
}
.background-orange-line {
  background-color: $brand-orange-line;
  border: 0.3rem solid $brand-orange-line;
}
.background-red-line {
  background-color: $brand-red-line;
  border: 0.3rem solid $brand-red-line;
}
.background-subway {
  background-color: $brand-subway ;
  border: 0.3rem solid $brand-subway;
}
.background-the-ride {
  background-color: $brand-the-ride;
  border: 0.3rem solid $brand-the-ride;
}

.departure-item {
  //background-color: $brand-red-line;
  //border: 0.3rem solid $brand-red-line;
  color: white;

  border-radius: 0.5rem;
  margin-bottom: 0.5rem;

  display: inline-grid;

  grid-template-columns: 22rem 9rem;
  grid-column-gap: 0.75rem;

  grid-template-areas:
    "route    status"
    "headsign status";

  .route {
    text-align: right;
    font-size: 1.5em;
    grid-area: route;

    .route-to {
      font-size: 80%;
    }
  }

  .headsign {
    grid-area: headsign;
    align-self: baseline;
    text-align: right;
    font-size: 2em;
  }

  .status {
    grid-area: status;
    background-color: white;
    color: black;

    padding: 0.2rem 0.4rem;

    border-radius: 0.3rem;

    display: inline-grid;

    grid-template-areas:
      "statusText"
      "statusTime";

    .statusText {
      grid-area: statusText;

      text-align: left;
      font-size: 1.5em;
    }

    .statusTime {
      grid-area: statusTime;

      text-align: left;
      font-size: 2em;
    }
  }
}
