<h1>{{stop?.attributes.name}}</h1>
<div *ngFor="let prediction of predictions;trackBy:getId" >
  <app-departure-item [prediction]="prediction"></app-departure-item>
</div>

<a routerLink="/">back</a>
